<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/searchStyle.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>

  <div class="header">
    <a href="#default" class="logo">KBA</a>
    <div class="header-right">
      <a class="active" href="/">Home</a>
      <a href="/issue">Issue Certificate</a>
    </div>
  </div>

  <form action="/issue" method="POST" class="wrap">
    <div class="search">
       <input type="text" name="certificateID" class="searchTerm" placeholder="Enter Certificate ID to View">
       <button type="submit" class="searchButton">
         <i class="fa fa-search"></i>
      </button>
    </div>
   </form>
 
</body>

</html>